.galleryPara {
    text-align: center;
    text-decoration: underline;
}

.imageContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.imageCard {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 5px #0000004d;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.imageCard:hover {
    transform: scale(1.1);
}

.imageCard img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
}

.selectedImage {
    margin-top: 40px;
    text-align: center;
}

.selectedHeading {
    margin-bottom: 10px;
    font-size: 20px;
}

.selectedImg {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 50%);
}